<!DOCTYPE html>
<html>
<head>
    <title>Chris Wolberg's Contact Info</title>
      <!-- Linking Reset CSS -->
      <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
      <!--Linking Bootstrap-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Linking Styles CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/form.css">
  <link rel="stylesheet" type="text/css" href="assets/css/specs.css">
  <!--Unused Script Below-->
  <!-- <script type="text/javascript" src="assets/javascript/script.js"></script> -->
</head>
<div id="wrapper"><!--creates whitespace around everything top and bottom-->

    <div id ="nav-wrapper"><!--wrapper div for entire nav section borders/structure-->
        <div id="nav-container"><!--container for actual nav section content-->
            <section id ="name">
                testname
            </section>   
            <section id="nav-bar">
                <span class="nav-option"><a href="https://www.google.com">Google</a></span>
                <span class="nav-option"><a href="https://www.google.com">Google</a></span>
                <span class="nav-option"><a href="https://www.google.com">Google</a></span>
            </section>
        </div><!--close nav container-->
    </div><!--close nav wrapper-->   

    <div id="content-wrapper"><!--wrapper div for entire content section borders/structure-->
        <div id="content-container"><!--container for actual section content-->
            <section id="page-title">
                Contact
            </section>
            <div class="content">
                    <form>
                            <div class="form-group">
                              <label for="input-name">Name</label>
                              <input type="name" class="form-control" id="input-name1" aria-describedby="emailHelp" placeholder=
                              "Enter name">
                              <small id="name-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                    <label for="input-email">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=
                                    "Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div><!--close content-->
        </div><!--close content container-->
            <div id="footer">
                <footer>copyright</footer>
            </div><!--close footer-->
    </div><!--close content wrapper-->
    </div><!--close wrapper-->


 </body>
</html>

<!-- -->